<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009476072941-sh5v0fe4gt0njm3ahb5uv1hgigfinjr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009476072941-sh5v0fe4gt0njm3ahb5uv1hgigfinjr4</string>
	<key>API_KEY</key>
	<string>AIzaSyARAwXL_eEWsfFOizWcUfeFcrCegGNJi6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1009476072941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raulfl1982ndrd.MePones</string>
	<key>PROJECT_ID</key>
	<string>mepones-3e7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>mepones-3e7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009476072941:ios:56d990c3cba8b6703b63e4</string>
</dict>
</plist>